* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #F7F7F8;
}

#slogan {

  background: rgb(119,172,241);
  background: linear-gradient(315deg, rgba(119,172,241,1) 0%, rgba(245,247,178,0.8589810924369747) 59%, rgba(28,197,220,1) 100%);  padding: 15px;
  text-align: center;
}

#logo, #logo:hover {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

nav {
  width: 80%;
  margin: 10px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 18px;
}

.menu-item {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  padding: 0 25px 0 10px;
}

nav a:hover {
  color: rgba(119,172,241,1);
}

nav ul li {
  margin: 0;
}

.btn-search {
  padding: 8px 30px;
  border: 1px solid #719ECE;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 0;
}
.btn-search:hover {
  box-shadow: 0 0 5px #719ECE;
}

input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}
textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

.search-bar{
  height: 2.3rem;
  width: 30em;
  margin-right: 10px;
  background-color: #e9e9e9;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}

.main {
  padding-top: 3em;
  display: flex;
  width: 80%;
  border: grey 1px solid;
  margin: 0 auto;
  flex-wrap: wrap;
}

.info {
  flex-basis: 25%;
}

.topics {
  flex-basis: 75%;
}

.news-topic-card {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  float: right;
  max-width: 750px;
  max-height: 275px;
  margin-bottom: 20px;
}

.news-topic-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.description {
  margin: 20px 0;
  font-size: 10px;
}

.big-title {
  margin: 20px 0;
  font-weight: bolder;
  font-size: 30px;
}

.card-text {
  margin: 10px 0;
}

.illustration-card {
  flex-basis: 60%;
  width: 150px;
  margin: 20px;
  background-color: black;
}

.illustration {
  width: 425px;
  max-height: 235px;
}
.card-body {
  flex-basis: 40%;
}

table {
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(231, 231, 231); 
  border-radius: 15px;
}

th, td {
  padding: 8px;
}

.up {
  margin: 0 5px;
  color: #66DE93;
}

.down {
  margin: 0 5px;
  color: #FF616D;
}


.stable {
  margin: 0 5px;
  color: #FFC074;
}

.title-rank {
  margin-left: 10px; 
  color: #FF616D;
}

.timedown {
  border: none;
  font-size: 25px;
  background: none;
  color: #FF616D;
  margin: 5px;
  padding: 5px 10px;
}

.show-more{
  font-size: 0.9rem;
  color: #719ECE;
}

.parts h2 {
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 0.5rem 1rem;
}

.parts p {
  margin: 0 1rem; 
  color: grey;
}

.perso, .popular {
  display: flex;
  flex-wrap: wrap;
}

.courses_perso {
  padding-top:  1girem;
}

.courses {
  
  margin: 40px 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: #FFFFFF;
  float: right;
  width: 250px;
  height: 350px;
  margin-bottom: 20px;
}

.courses:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.main-topo {
  padding-top: 3em;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}