* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #FFFFFF;
}

#slogan {

  background: rgb(119,172,241);
  background: linear-gradient(315deg, rgba(119,172,241,1) 0%, rgba(245,247,178,0.8589810924369747) 59%, rgba(28,197,220,1) 100%);  padding: 15px;
  text-align: center;
}

#logo, #logo:hover {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

nav {
  width: 80%;
  margin: 10px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 18px;
}

.menu-item {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: black;
  display: block;
  padding: 0 25px 0 10px;
}

nav a:hover {
  color: rgba(119,172,241,1);
}

nav ul li {
  margin: 0;
}

.btn-search {
  padding: 8px 30px;
  border: 1px solid #719ECE;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 0;
}
.btn-search:hover {
  box-shadow: 0 0 5px #719ECE;
}

input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}
textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

.main {
  padding-top: 3em;
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;

}

.search-bar{
  height: 2.3rem;
  width: 30em;
  margin-right: 10px;
  background-color: #F5F5F5;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}

.info {
  flex-basis: 25%;
}

.topics {
  flex-basis: 75%;
}

.card {
  border-radius: 10px;
}

.news-topic-card {
  float: right;
  max-width: 650px;
  max-height: 280px;
}

.news-topic-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.description {
  font-size: 10px;
}

.big-title {
  font-weight: bolder;
  font-size: 30px;
}

.illustration {
  width: 150px;
  margin: 20px;
  background-color: black;
}